/* styles.css */
.name-list {
    list-style-type: none; /* Remove bullets */
    padding: 0;
}

.name-list li {
    background-color: #f2f2f2; /* Background color */
    padding: 10px;
    margin-bottom: 5px; /* Spacing between list items */
    border-radius: 5px;
}

.name-list li:hover {
    background-color: #e0e0e0; /* Background color on hover */
}
